.about-me {
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $main;

  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;

  .about-me-container {
    display: flex;
    align-items: center;
    gap: 7rem;
    
    @media (max-width: 400px) {
      flex-direction: column;
      gap: 3rem;
    }

    .img-container {
      width: 15rem;
      height: 15rem;

      flex-shrink: 0;

      -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
      border-radius: $radius;

      overflow: hidden;

      picture, img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    p {
      color: $secondary;

      line-height: 2.5rem;

      @media (max-width: 400px) {
        font-size: 1.6rem;
      }
    }
  }
}