.btn {
  width: fit-content;

  padding: .7rem 3rem;

  display: block;

  color: $text;
  background-color: $secondary;

  outline: none;
  border: none;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;

  font-size: 1.4rem;
  font-weight: 400;

  box-shadow: .4rem .4rem 1rem rgba(0, 0, 0, .4);

  text-decoration: none;
  cursor: pointer;
  transition: box-shadow .5s;
  
  @media (max-width: 400px) {
    padding: .5em 1em;
  }
}

.btn:hover {
  box-shadow: .4rem .4rem 1rem rgba(253, 251, 251, .6);
}

.btn.disabled {
  background-color: $disabled;
  cursor: not-allowed;
}