.calculator {
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $main;

  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;

  form {
    width: 100%;
  }
}