footer {
  height: 20rem;

  padding: 3rem;

  display: flex;
  justify-content: space-between;

  background-color: $main;

  border-top-left-radius: $radius;
  border-top-right-radius: $radius;

  .info {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      color: $text2;
    }
  }

  .logo {
    display: flex;
    align-items: center;

    text-decoration: none;

    & > div {
      display: flex;
      align-items: center;
      gap: 3rem;
    }

    .img-logo {
      height: 10rem;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
      }
    }

    h1 {
      color: $secondary;

      font-size: 3.6rem;
      font-weight: 800;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    a {
      width: 100% !important;

      text-align: center;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    & > div {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .img-container {
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      color: $text2;

      font-size: 1.4rem;
      font-weight: 400;

      text-decoration: none;
    }
  }

  .avito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}