.modal-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, .5);

  opacity: 0;
  pointer-events: none;

  transition: opacity .3s ease;

  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-container.visible {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  padding: 3rem;

  background-color: $main;

  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;

  transform: scale(.5);
  transition: transform .5s ease;
}

.modal.visible {
  transform: scale(1);
}