.services {
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $main;

  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;

  .services-container {
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 12rem;
  }
}